.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75x;
  border-radius: 50%;
  background: #010202;
  padding: 10px;
  text-align: center;

} */

.avatar-img {
  top: 60px;
  height: 250px;
  padding-top: 4em;
   border-radius: 5%;
   background: #BA8B02;

}

.aws-btn {

  --slider-height-percentage: 60%;
  --slider-transition-duration: 770ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #d5b1af;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #fad0ce;
  --control-bullet-active-color: #d5b1af;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;

}



.center-grid {
  position: fixed;
}

.contact-body {
  position: fixed;
}




.header-color {
  background: #BA8B02;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #181818, #BA8B02);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #181818, #BA8B02);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #BA8B02;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #181818, #BA8B02);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #181818, #BA8B02);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.resume-right-col{
  background: #27221F;
  color: white;
  padding: 2em;
}


.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
  display: flex;
}